/*
Aufgabe 1 (5P): Anpassungen CSS
- Bilder-Counter je Bereich - rechtsbündig
- angeklickter/aktiver Bereich soll Hintergrundfarbe #ccc behalten
- Vorschaubilder sollen scrollbar sein
- Mauszeiger bei Vorschaubildern soll anzeigen, dass diese klickbar sind (wie bei Hyperlinks)
- angeklickte/aktive Vorschaubilder sollen folgende beiden Formatierungen erhalten
    border:1px solid #404549;
    box-shadow:0 4px 2px rgba(51, 51, 51, 0.2);
Tipp: Zum Testen kann die index_static.html geöffnet werden.
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
}

img {
    vertical-align: bottom;
}

/******************************
*
*   Basis, Wrapper, Grid
*
********************************/

.wrapper {
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.2);
    margin: 50px auto;
    overflow: auto;
    max-width: 1024px;
}

header {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    color: #000;
    clear: both;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 100%;
}



main {
    display:flex;
    height:400px;
    overflow:hidden;
}

aside {
    width:25%;
    background: #34393d;
    color:#fff;
    padding:0.5rem;
}

footer {
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    color: #999;
    clear: both;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 100%;
}


/******************************
*
*   Menü
*
********************************/

aside nav ul {
    padding:0;
    list-style: none;
}

aside nav .item-count {
    background: #34393d;
    border-radius: 5px;
    padding: 2px 8px;
    margin: -2px -8px -2px 5px;
}

aside nav li a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    text-decoration: none;
    transition: background .1s linear;
    width: 100%;
    border-radius:8px;
    cursor: pointer;
}

aside nav li a:hover {
    background: #404549;
}

aside nav ul li.active {
    background-color: #ccc;
    border-radius: 8px;
}

aside nav ul li.active a:hover {
    background-color: #ccc;
    cursor: default;
}



/******************************
*
*   Thumbs, Vorschaubilder
*
********************************/

.images {
    width:15%;
    height:100%;
    padding:1rem;
    background:#fff;
    overflow-y:auto;
}

.images img {
    max-width:100%;
    margin:0.5rem 0;
    border:1px solid transparent;
    cursor: pointer;
}
.images img.active {
    /*border:1px solid #404549;*/
    /*box-shadow:0 4px 2px rgba(51, 51, 51, 0.2);*/
    /* I love some color ^_^*/
    border:1px solid rgba(227, 100, 100, 0.35);
    box-shadow:0 0 15px rgba(227, 150, 150, 0.45);
}
.images img.active:hover {
    cursor: default;
}

/******************************
*
*   Detail, großes Bild
*
********************************/

.bigimage {
    width:60%;
    padding:0.5rem;
    background:#fff;
    text-align:center;
    color:#999;
    display:flex;
    align-items:center;
    border-left: 1px solid #ddd;
}

.bigimage img {
    max-width:100%;
    max-height:100%;
}